NEXT_PUBLIC_BASE_API_URL = 'http://localhost:8000/api'
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME = "dvpb6z2oj"

NEXT_PUBLIC_CLOUDINARY_API_KEY="349672995137588"
CLOUDINARY_API_SECRET="t3M_1KkR2Dk6Hr6VjavUA7pE9v4"
# env ini masih tahap dev dan dikhususkan untuk para juri agar siap dipakai

NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyC6lNOvqkVea0MEwEMCjXaqVfC6aIPrGQU"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="inventra-619fb.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="inventra-619fb"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="inventra-619fb.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="346865597941"
NEXT_PUBLIC_FIREBASE_APP_ID="1:346865597941:web:368c9186a025fac278f4bc"